body {
  font-family: sans-serif;
  background: #f1ecd1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#restart-btn {
  background: #8f7a66;
  color: #4c0241;
  border: #4c0241;
  padding: 5px 16px;
  border-radius: 5px;
  font-size: 16px;
}

.game-container {
  text-align: center;
  color: #4c0241;
  font-size: x-large;
}

.score-container {
	font-size: large;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  background: #4c0241;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #7d2f71;
  border-radius: 5px;
  font-size: 40px;
  font-weight: bold;
  display: flex;    
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

#message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.message-box {
  background: #f1ecd1;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  color: #4c0241;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.message-box button {
  margin-top: 15px;
  padding: 8px 16px;
  background: #8f7a66;
  color: #4c0241;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
